README.md
LICENSE
docs/
imgs/

faucet/
monitor/
prod-sim/
release/
server-setup/
explorer/

multi_node_setup.sh
node.Dockerfile
send_verify_tx.sh
server_node_setup.sh
setup_node.sh
setup_validator.sh
spawner.sh

.gitignore
.git/
.github/

.vscode/
.idea/

prover_examples/gnark_plonk/*.base64

.DS_Store
*.dot
*.log
*.ign
