README.md
LICENSE
imgs/

faucet/
monitor/
prod-sim/
release/
server-setup/
explorer/

*.sh

.gitignore
.git/
.github/

.vscode/
.idea/

prover_examples/gnark_plonk/*.base64

.DS_Store
*.dot
*.log
*.ign
