AAAAAAAAAAQkSzrWKOU4H0o8NEjhIQJF3ibuNltLFGzy6Xgu9AAAATBkTnLhMaApBItuGT/YQQRc6iT2/XNr7CMSBHCPcDY2AAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABa+Im7XOTFbctdAqPGznV4wGNmtkE/99sv1AqR3v4XWO1y6FFcioBB9H9nxjpfkmnIxPdFeiwcLMuYwx+32v3rLikyudZGJxE4lBYgJLg3TTtdKtF/GKqbhctIs4pU+RROHk8z7QHuDriJ2P1HiDhW6SwCWu6pEHICK8rsUS9mBkr9tEuNLtLh+eUS4VfT/aetwD4bcpcwg7kTiiBg4ei/uqgbBC2jLBSK451E9SxWmxuNq0fYqG1biFC30Ym5XIWYCnSZTry4Q6lssuYMR7XwXJ1yMRNXBcN4fgztG7Wx5M4p/ev6xuZ8WKj/agYR8wTfdzJr17r6dlc5zsTEBRdA0AAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGZjpOTkg1IOnJgv7cx+10l8apJMzWp5xKX5IW3rvMSwhgA3u8SHx52QmoAZl5cRHlnQyLU917a3UbevVzZkvbtzwn/iuleDHMezUMgblDDzLXRaTSf2wwcU2ftig31CYcN8RALB4NS/ak1cy3E5DQ004mOYp1PXN5NfDxi2wxq6AAAAAA=